services:
  q-server:
    build:
      context: ./build
    container_name: {{ q_server_container_name }}
    hostname: {{ q_server_container_name }}
    restart: unless-stopped
    environment:
      - Q_DATA_MUT
      - Q_DATA_HOT
      - Q_REQUESTS_MODE
      - Q_REQUESTS_SERVER
      - Q_REQUESTS_TOPIC
      - Q_QUERY_MAX_RUNTIME
      - Q_SLOW_QUERIES
      - Q_STATSD_SERVER
      - Q_ACCOUNTS
      - Q_BLOCKS_HOT
      - Q_TRANSACTIONS_HOT
      - Q_SLOW_QUERIES_ACCOUNTS
      - Q_SLOW_QUERIES_BLOCKS_HOT
      - Q_SLOW_QUERIES_TRANSACTIONS_HOT
    expose:
      - "{{ q_server_port }}"
    mem_limit: {{ q_server_mem_limit }}
networks:
  default:
    name: {{ q_server_net }}
    external: true