server {
    # Listen to port 443 on both IPv4 and IPv6.
    listen 443 ssl http2;

    # Domain names this server should respond to.
    server_name {{ system_hostname }};

    # Load the certificate files.
    ssl_certificate         /etc/letsencrypt/live/{{ system_hostname }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ system_hostname }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ system_hostname }}/chain.pem;

    # Load the Diffie-Hellman parameter.
    ssl_dhparam /etc/letsencrypt/dhparams/dhparam.pem;
    include ssl_params;
    resolver 127.0.0.11 valid=30s;
    gzip                on;
    gzip_min_length     500;
    gzip_proxied        any;
    gzip_comp_level     6;
    gzip_types          text/css text/javascript text/xml text/plain text/x-component application/javascript application/json application/xml application/rss+xml font/truetype font/opentype application/vnd.ms-fontobject image/svg+xml;
    gzip_vary           on;
    gzip_disable        "msie6";

    brotli on;
    brotli_types          text/css text/javascript text/xml text/plain text/x-component application/javascript application/json application/xml application/rss+xml font/truetype font/opentype application/vnd.ms-fontobject image/svg+xml;
    brotli_comp_level 6;
    brotli_min_length 500;

    client_max_body_size 32m;
    client_body_buffer_size 192m;

    location /graphql {
        set $upstream http://{{ q_server_container_name }}:{{ q_server_port }}/graphql;;
        proxy_pass $upstream;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_read_timeout 7200;
        proxy_buffering off;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS';
    }
}
