services:
  statsd:
    image: prom/statsd-exporter:v0.23.1
    container_name: statsd
    restart: unless-stopped
    expose:
      - "${UDP_PORT}/udp"
    ports:
      - "${IntIP:-0.0.0.0}:${TCP_PORT}:${TCP_PORT}"
    volumes:
      - ./statsd-mapping.yaml:/statsd-mappings/statsd-mapping.yaml
    command: ["${ARGS}"]
    logging:
      driver: json-file
      options:
        max-size: "100m"
        max-file: "10"
networks:
  default:
    name: {{ statsd_net }}
    external: true