{
    "endpoints": [],
    "server": {
	"host": "localhost",
	"port": {{ q_server_port }},
	"keepAlive": 60000
    },
    "requests": {
	"mode": "rest",
	"server": "{{ kafka_host }}:{{ kafka_port_internal }}",
	"topic": "requests",
	"maxSize": "16383"
    },
    "blockchain": {
        "hotCache": "",
        "hotCacheExpiration": 10,
        "hotCacheEmptyDataExpiration": 3,
        "acounts": [],
        "blocks": {
            "hot": [],
            "cache": "",
            "cold": []
        },
        "transactions": {
            "hot": [],
            "cache": "",
            "cold": []
        },
        "zerostate": ""
    },
    "slowQueriesBlockchain": {
        "hotCache": "",
        "hotCacheExpiration": 10,
        "hotCacheEmptyDataExpiration": 3,
        "acounts": [],
        "blocks": {
            "hot": [],
            "cache": "",
            "cold": []
        },
        "transactions": {
            "hot": [],
            "cache": "",
            "cold": []
        },
        "zerostate": ""
    },
    "authEndpoint": "",
    "mamAccessKeys": "",
    "jaegerEndpoint": "",
    "trace": {
	"service": "",
	"tags": []
    },
    "statsd": {
	"server": "",
	"tags": [],
	"resetInterval": 0
    }
}
