services:
  arangodb:
    build:
      context: ./build
    container_name: arangodb
    restart: unless-stopped
    environment:
      ARANGO_NO_AUTH: 1
      VIRTUAL_HOST: {{ arangodb_host }}.{{ inventory_hostname }}
      VIRTUAL_PORT: {{ arangodb_port }}
      LETSENCRYPT_HOST: {{ arangodb_host }}.{{ inventory_hostname }}
      LETSENCRYPT_EMAIL: "{{ le_email }}"
      ARANGODB_OVERRIDE_DETECTED_TOTAL_MEMORY: 343579738368
    networks:
      - {{ arangodb_net }}
    volumes:
      - db3:/var/lib/arangodb3
      - data:/arango/db
      - ./arango-config:/arango/config
    expose:
      - "{{ arangodb_port }}"
    mem_limit: {{ arangodb_mem_limit }}

networks:
  {{ arangodb_net }}:
    external: true
volumes:
  data:
  db3:
  datani:
  db3ni:
